// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.logo{
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.1rem rgb(39, 6, 129));
}

.bg-nav{
    background-color: #c4c4c44f;
}

.bg-active{
    background-color: #F8FAFC;
}
.bg-nav-movil{
    background-color: #060d27e3;
}

.bg-login{
    background: rgb(3,5,44);
    background: linear-gradient(155deg, rgba(3,5,44,1) 0%, rgba(55,170,177,1) 100%, rgba(0,82,255,1) 100%);
}

.bg-nd{
    background: rgb(3,5,44);
    background: linear-gradient(155deg, rgba(3,5,44,1) 0%, rgba(55, 171, 177, 1) 100%, rgba(0,82,255,1) 100%);
}

.nav-link{
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    color: $secondary;
}

.nav-link-dash{
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem;
    color: #ffffff;
}

.nav-link:hover{
    background-color: $secondary;
    color: #ffffff;
}
.nav-link-dash:hover{
    background-color: $warning;
    color: $secondary;
}


.header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.content{
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    text-align: center;
    justify-content: end;
    
}

.content-nosotros{
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: end;
}

.content-contacto{
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    text-align: center;
    justify-content: start;
    align-items: end;
}

.header-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video-login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.header-video video{
    min-width: 100%;
    min-height: 100%;
}

.header-overlay{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fed01673;
    z-index: 1;
}

.header-overlay-login{
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fed01673;
    z-index: 1;
}


.header-content{
    z-index: 2;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.header-content img{
    max-width: 500px;
    max-height: 500px;
    //filter: drop-shadow(0.1rem 0.5rem 4rem #0c2eb6);
    //filter: drop-shadow(2em 1em 2em rgba(255, 255, 255, 0.5));
    filter: drop-shadow(25px 10px 4px #171e3b);
}

.sombra{
    filter: drop-shadow(5px 5px 2px #171e3b);
    //filter: drop-shadow(1rem 0.5rem 4rem #0c2eb6);
}
.sombra-titulo{
    filter: drop-shadow(3px 3px 2px #0202027e);
    //filter: drop-shadow(5px 5px 2px #ffef11);
    //filter: drop-shadow(1rem 0.5rem 4rem #0c2eb6);
}

.header-content img:hover{
    transform: translateY(-10px);
    transition: 0.4s ease-out;
    //box-shadow: 0rem 0 2rem rgb(170, 163, 163);
}

.img-nosotros{
    max-width: 500px;
    max-height: 500px;
    filter: drop-shadow(0.1rem 0.5rem 4rem #0c2eb6);
    //filter: drop-shadow(2em 1em 2em rgba(255, 255, 255, 0.5));
    //filter: drop-shadow(25px 10px 4px #171e3b);
}
.img-nosotros:hover{
    transform: translateY(-10px);
    transition: 0.4s ease-out;
    //box-shadow: 0rem 0 2rem rgb(170, 163, 163);
}

.cover-video{
    object-fit: fill;
    height: 100vh;
    width: 100%;
}

.active-nav{
    background-color: $secondary;
    height: 70px;
    text-align: center;
    color: white;
}
.active-dash{
    background-color: $warning;
    text-align: center;
    color: $secondary;
}

.bg-overlay{
    background-color: #fed016c7;
}

.active-footer{
    color: $warning;
}

.texto{
    text-align: justify;
}

.video-col{
    width: 100%;
}

.img-card{
    height: 35vh;
}

.card-bottom{
    border-radius: 0% 0% 5% 5%;
}

.card-effect:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
    box-shadow: 0rem 0 2rem rgb(27, 10, 175);
  }

.img-galeria{
    position: absolute;
}

.img-carrusel{
    object-fit: cover;
    //opacity: 0.70;
    height: 600px;
    max-height: 70vh;
    min-height: 60vh;
}

.card-img-overlay-custom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.35rem;
}

.icon{
    width: 40px;
    height: 40px;
}

.icon-cotizar{
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.img-logo{
    width: 150px;
    height: 150px;
    filter: drop-shadow(0.2rem 0.1rem 0.2rem #ffffff);
}

.img-logo:hover{
    transform: translateY(-10px);
    transition: 0.4s ease-out;
}

.img-list{
    max-height: 100px;
    width: auto;
}

.zoom-container {
    overflow: hidden; /* Para ocultar cualquier parte de la imagen que se salga del contenedor */
}

.zoom {
    transition: transform .3s; 
}
 
.zoom:hover {
    transform: scale(1.1); 
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 56.25%; /* Aspect ratio 16:9 (para 16:9, divide la altura entre el ancho y multiplica por 100) */
}

.map-container iframe {
    position: absolute;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.figura{
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    border-bottom: 5px solid $warning;
}

.video-fluid {
    max-width: 100%;

    width: auto;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 960px) {
    .content{
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto;
        text-align: center;
        align-items: end;
        justify-content: center;
    }
    .header-content img{
        max-width: 80vw;
        max-height: 400px;
        filter: drop-shadow(0.1rem 0.5rem 3rem #173ac5);
    }
    .img-nosotros{
        max-width: 80vw;
        max-height: 400px;
        filter: drop-shadow(0.1rem 0.5rem 4rem #0c2eb6);
        //filter: drop-shadow(2em 1em 2em rgba(255, 255, 255, 0.5));
        //filter: drop-shadow(25px 10px 4px #171e3b);
    }
    .active{
        background-color:#060d2700;
        height: auto;
        color: $warning;
    }

    .active-nav{
        background-color: $warning;
       
        text-align: center;
        color: $secondary;
    }

    .nav-link{
        justify-content: center;
        font-size: medium;
        font-weight: bold;
        padding-top: 0.5rem;
    }
}